body{
    font-family: 'Courie New', Courier, monospace ;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container{
    color:white;
    background-color: black;
}
.profissoes{
    color:rgb(255, 0, 0);
    background-color: black;
}
h1{

}